:root {
  --background-color: #111111;
  --text-color: white;
  --div-background:rgba(143, 12, 175, 1);
  --btn-border:#DD380D;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Helvetica;
}


.App {
  text-align: center;
}

.Header {
  font-size: x-large;
  text-shadow: 5px 10px 10px var(--div-background);
  color: var(--text-color);
}

.btn {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 100;
  padding: 15px;
  background-color: var(--background-color);
  -webkit-box-shadow: 2px 2px 5px 2px var(--div-background);
  -moz-box-shadow: 2px 2px 5px 2px var(--div-background);
  box-shadow: 2px 2px 5px 2px var(--div-background);
  border: inset var(--div-background) 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: var(--background-color);
  border: inset var(--btn-border)2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.listOutput {
  height: fit-content;
  border: 10px inset var(--div-background);
  border-radius: 2px;
  margin: 2rem;
  padding: 0.75rem;
  box-shadow: 7px -1px 7px var(--div-background);
  text-align: left;
  list-style-type: none;
}
.nameDiv{
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 1.2rem;

}
.ratingDiv{
  font-weight: bold;
  font-size: medium;
}
.imgDiv{
  display:block;
  margin-left:auto;
  margin-right: 2rem;
  border: 0.25px solid var(--div-background);
}